@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo&family=Bungee+Inline&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to right, rgb(35, 136, 127), rgb(158, 218, 62));
}

.swiper-container {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 15px;
  }

.navigaton {
    position: fixed;
    width: 100%;
    background: rgb(105, 173, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 50%);
    z-index: 99999;
}
.brand {
    font-size: 55px;
    padding: 5px;
    font-weight: 900;
    color: rgb(235, 235, 235);
    text-shadow: 2px 2px 3px #0000007d;
}
.navigaton div {
    display: flex;
    align-items: center;
}
.link {
    background: #ffffff75;
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s ease;
}
.link:hover {
    background: #ffffffc2;
}
.menu {
    display: none !important;
}

.container {
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 100px;
}

.author {
    width: 450px;
    aspect-ratio: 1;
    background: url('pics/maruf.jpg');
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10000000px;
    border: 5px solid rgb(98, 167, 95);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.596);
}
.author-details {
    color: #ffffffa8;
    font-size: 150%;
    text-shadow: 3px 2px 9px rgb(0 0 0 / 50%);
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 53px;
}

.headText {
    width: 100%;
    display: flex;
    font-size: 50px;
    padding: 30px;
    color: #6e6e6e;
    background: #bcfd4cb6;
    align-items: center;
    justify-content: center;
}


.tutorial, .courses {
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
/* SEC NAME */
.secName {
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 40px;
    padding: 20px 45px;
    text-transform: uppercase;
    background: rgba(112, 218, 98, 0.747);
    border-radius: 15px 0;
    color: rgb(110, 75, 190);
    font-weight: 900;
    border: 2px solid rgb(110, 75, 190);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.3);
}
.secName::after, .secName::before {
    content: '';
    position: absolute;
    background: rgb(110, 75, 190);
    width:10px;
    height: 75%;
}
.secName::after {
    bottom: 0;
    left: 0;
}
.secName::before {
    top: 0;
    right: 0;
}

/* FONT COLOR */

/*
font-family: 'Archivo', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Bungee Inline', cursive;

*/

@media (max-width:750px) and (min-width: 350px) {
    .navigaton {
        max-width: 100%;
        overflow: visible;
    }
    .brand {
        font-size: 47px;
    }
    .links {
        position: absolute !important;
        flex-direction: column;
        gap: 15px;
        background: rgba(52, 161, 80, 0.685);
        width: 60vw;
        height: 100vh;
        top: 0;
        right: -60vw;
        justify-content: center;
        transition: 0.4s ease;
    }
    .links.active {
        right: 0px;
    }
    .link {
        width: 60%;
        display: flex;
        justify-content: center;
        margin: 0;
        border-radius: 2px;
    }
    .menu {
        display: block !important;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 999;
        position: relative;
    }
    .menu::before, .menu::after {
        content: '';
        width: 70%;
        height: 4px;
        background: white;
        position: absolute;
        left: 50%;
        border-radius: 3px;
        transform: translate(-50%, -50%);
        transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .menu::before {
        top: 65%;
    }
    .menu::after {
        top: 35%;
    }
    .menu.active::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .menu.active::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .author-details {
        color: #ffffffa8;
        font-size: 150%;
        text-shadow: 3px 2px 9px rgb(0 0 0 / 50%);
        letter-spacing: 1px;
        word-spacing: 5px;
        line-height: 53px;
    }
    .headText {
        overflow-x: hidden;
    }
    .headPart {
        font-size: 5vw;
        padding: 10px;
        font-weight: 700;
    }
    .swiper-container {
        width: 80%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 80vw;
        aspect-ratio: 1;
        border-radius: 15px;
      }
}